################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EPLib/bin
/EPLib/obj
/DIPOrderSystem/bin
/DIPOrderSystem/obj
/EPTest/bin/Debug
/EPTest/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/EPTest/obj
/EPWebServiceMDM/bin
/EPWebServiceWorker/bin
/EPWebServiceWorker/obj
/MDMSupportWebSite/bin
/MDMSupportWebSite/obj
/.vs
/Portal/bin
/Portal/obj
/ServiceAuthority/bin
/ServiceAuthority/obj
/UnitTests/bin/Debug
/UnitTests/obj
/AccountAdministrationWebSite/bin
/AccountAdministrationWebSite/obj
*.dll
*.pdb
*.cache
/**/bin/**/*.*
/**/obj/**/*.*

/packages
